<ion-header class="ion-padding header">
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon size="large" name="menu-outline" color="danger"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-searchbar class="searchbar" slot="start" placeholder="Search Cattles" mode="md" color="none"></ion-searchbar>
    <ion-icon size="large" slot="end" name="notifications-outline" color="danger"></ion-icon>
    <ion-icon size="large" slot="end" color="danger" name="log-out-outline"></ion-icon>
    <!-- <ion-button size="large" slot="end" class="notification" color="none" fill="clear"> -->
      <!-- <span>&nbsp;</span> -->
    <!-- </ion-button> -->
    <!-- <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
      </ion-button>
    </ion-buttons> -->
    <!-- <ion-buttons>
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
   <ion-grid>
     <ion-row>
      <ion-col size="6">
        <ion-button class="curved" (click)=goToBuy()><img src="../../assets/icon/sell-cow-icon.png" width= "90px"
          height=" 90px"></ion-button>
       </ion-col>
       <ion-col size="6">
         <ion-button class="curved" (click)=goToMedicine()><img src="../../assets/icon/cow-medicine.png" width= "90px"
          height=" 90px"></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size="6">
       <ion-button class="curved" (click)=goToFeed()><img src="../../assets/icon/animal-feed.png" width= "90px"
        height=" 90px"></ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="curved" (click)=goToSemen()><img src="../../assets/icon/cow-semen.png" width= "90px"
          height=" 90px"></ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
   <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content> -->

<ion-content class="content ion-padding" [fullscreen]="true">
  <ion-card class="transparent-bg"></ion-card>
  <ion-grid class="mobile-view">
    <ion-toolbar class="top-space" color="none">
      <ion-button class="glow-on-hover" size="large" expand="block" (click)="recordAudio()">
        <ion-label color="danger">FREE VET DOCTOR 24/7</ion-label>
      </ion-button>
    </ion-toolbar>

  <div class="vertical-flex">
    <ion-row (click)="goToBuy()" class="row-size-bigbtn gradient">
      <ion-col class="button-img" size="8" style="background-image: url('../../assets/icon/sell-cow-icon.png');">
      </ion-col>
      <ion-col class="vertical-flex" size="4">
          <ion-label class="green">BUY/SELL</ion-label>
          <ion-label class=" white">ANIMAL</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div class="inline-flex">
    <ion-row class="row-size gradient">
      <ion-col class="bottom-center button-img" (click)="goToFeed()" size="12" style="background-image: url('../../assets/icon/animal-feed.png');">
        <ion-label class="green">VET</ion-label>
        <ion-label class="white">FEED</ion-label>
      </ion-col>
     
      <!-- <ion-col size="6" class="vertical-flex">
        <ion-label class="green">VET</ion-label>
        <ion-label class="white">FEED</ion-label>
      </ion-col> -->
    </ion-row>
    <ion-row class="row-size gradient">
        <ion-col class="bottom-center button-img" (click)="goToMedicine()" size="12" style="background-image: url('../../assets/icon/cow-medicine.png');">
          <ion-label class="green">VET</ion-label>
            <ion-label class="white">MEDICINE</ion-label>
        </ion-col>
        <!-- <ion-col size="6" class="vertical-flex">
            <ion-label class="green">VET</ion-label>
            <ion-label class="white">MEDICINE</ion-label>
        </ion-col> -->
    </ion-row>
  </div>
  </ion-grid>

  <ion-grid class="top-space web-view">
    <ion-row>
      <ion-col size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-toolbar class="searchbar-webview" color="none">
          <ion-searchbar class="searchbar" slot="start" placeholder="Search Cattles" mode="md" color="none"></ion-searchbar>
        </ion-toolbar>
      </ion-col>
    </ion-row>

    
      <ion-row (click)="goToBuy()" class="row-size-bigbtn gradient">
        <ion-col class="button-img" size="8" style="background-image: url('../../assets/icon/sell-cow-icon.png');">
        </ion-col>
        <ion-col class="vertical-flex" size="4">
            <ion-label class="green">BUY/SELL</ion-label>
            <ion-label class=" white">ANIMAL</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row-size gradient">
        <ion-col class="button-img" (click)="goToFeed()" size="8" style="background-image: url('../../assets/icon/animal-feed.png');">
        </ion-col>
        <ion-col size="4" class="vertical-flex">
          <ion-label class="green">VET</ion-label>
          <ion-label class="white">FEED</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-size gradient">
          <ion-col class="button-img" (click)="goToMedicine()" size="8" style="background-image: url('../../assets/icon/cow-medicine.png');">
          </ion-col>
          <ion-col size="4" class="vertical-flex">
              <ion-label class="green">VET</ion-label>
              <ion-label class="white">MEDICINE</ion-label>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="offer-card-margin">
    <ion-row>
      <ion-col class="inline-flex" size="12" offset="sm-0 md-0 lg-2 xl-3">
  <ion-toolbar class="inline-flex" color="none">
      <ion-chip color="none">
        <ion-icon size="large" name="alarm-sharp" color="medium"></ion-icon>
        <ion-label class="text-shadow" color="medium">TODAY's OFFERS</ion-label>
      </ion-chip>
  </ion-toolbar>
</ion-col>
</ion-row>
<ion-row>
  <ion-col class="inline-flex" size="12" offset="sm-0 md-0 lg-2 xl-3">
    <ion-card class="custom-card">
      <ion-slides #slides [options]="slideOpts">
        <ion-slide *ngFor="let img of images; let i=index">
            <ion-grid>
              <ion-row>
                <ion-col class="vertical-flex offer-img-bg" size="12">
                  <ion-img src="{{img}}" class="img"></ion-img>
                  <ion-label class="white">Offer Details</ion-label>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col class="vertical-flex" size="12">
                </ion-col>
              </ion-row> -->
            </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar color="none">
    <ion-button size="large" expand="full" color="light" (click)="recordAudio()">
      <ion-label color="danger">FREE VET DOCTOR 24/7</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->

<!-- <ion-card class="card">
     <ion-card-title>Today's Offers</ion-card-title>
    <ion-slides pager="false" class="product-slider">
      <ion-slide>
        <img src="../../assets/product-slider/prod-slide1.jpg" height="100px"/>
      </ion-slide>
      <ion-slide>
        <img src="../../assets/product-slider/prod-slide1.jpg" height="100px"/>
      </ion-slide>
      <ion-slide>
        <img src="../../assets/product-slider/prod-slide1.jpg" height="100px"/>
      </ion-slide>
    </ion-slides>
    </ion-card> -->
<!-- <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
  </ion-slides> -->
<!-- <div class="seperator">
    <hr>
  </div>
  <div class="ion-padding-vertical-custom">
    
    <h4 class="price">
      Rs 40000
      <span class="real-price">Rs 80000</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div> -->






<!-- <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Select Size</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Select Color</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div [class.active]="selectedSize == 1" (click)="changeSize(1)">
        S
      </div>
      <div [class.active]="selectedSize == 2" (click)="changeSize(2)">
        M
      </div>
      <div [class.active]="selectedSize == 3" (click)="changeSize(3)">
        L
      </div>
      <div [class.active]="selectedSize == 4" (click)="changeSize(4)">
        XL
      </div>
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
      <div [class.active]="selectedColor == 1" (click)="changeColor(1)">
        BLACK
      </div>
      <div [class.active]="selectedColor == 2" (click)="changeColor(2)">
        GREEN
      </div>
      <div [class.active]="selectedColor == 3" (click)="changeColor(3)">
        BLUE
      </div>
    </div>
  </div> -->