// .digit-input {
//     text-align: center;
//     font-size: 1.7em;
//   }
  .input{
    margin: 1%;
    border: 1px solid rgb(25,25,25);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(75 75 75);
  }
    .content{
      --background: linear-gradient(180deg, rgb(25,25,25), rgb(50,50,50), rgb(75,75,75)) !important;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-position: center center;
    }

    .custom-grid{
      margin-top: 50%;
    }

    .lock{
      height: 100px;
      width: 100px;
    }
