// .digit-input {
//     text-align: center;
//     font-size: 1.7em;
//   }
  .input{
    border: 1px solid black;
    border-radius: 5%;
    font-weight: bold;
    margin: 1%;
    color: black;
    background-color: white;
    text-align: center;
  }

  .flex{
    display: flex;
    }

    .errmsg{
      text-align: left;
    }
  
    .title{
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .otpCard{
      margin: 0;
      padding: 0;
    }