.digit-input {
    text-align: center;
    font-size: 1.7em;
  }
  .x{
    color: antiquewhite;
    background-color: rgb(255, 174, 0);
    padding-left: 15px;
    letter-spacing: 42px;
    border-radius: 10px;
  }
  