.custom-card{
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
  }
  
  .panel{
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  a{
      text-decoration: underline;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ion-content{
    margin: 0;
    padding: 0;
  }

  @media (min-width: 500px) {
    .custom-card{
        width: 75%;
    }      
  }

  @media (min-width: 700px) {
    .custom-card{
        width: 50%;
    }      
  }