<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons style="
    clip-path: ellipse(100% 54% at 0% 50%); background-color: #36363f;
    background-color: #36363f;width:80px; height: 40px; border-radius: 5%; " slot="start">
      <ion-buttons routerLink="/tabs/landing" routerDirection="back">
        <ion-icon name="chevron-back-outline" style="color: #3CF185; width: 30px; height: 200px;"></ion-icon>
      </ion-buttons>
      <span style="color: azure;">BACK</span>
    </ion-buttons>
    <ion-title color="light">Blogs and Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-color">

  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">

  <ion-card class="custom-card card-color">
    <ion-label color="primary">ARTICLE TITLE</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../../assets/blogimg.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size="12">
         <ion-text>SUB TITLE OF THE ARTICLE</ion-text>
        <ion-button class="accordion" fill="clear" size="small" expand="full" color="light" (click)="onClickReadMore()"><ion-icon slot="end" size="large" name="{{expand === true ?'chevron-up':'chevron-down'}}"></ion-icon>{{ expand === true ? 'READ LESS' : 'READ MORE...'}}</ion-button>
        <div class="panel">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repudiandae illum, blanditiis quidem obcaecati, enim error quibusdam corrupti aliquam, nemo voluptate ullam sed? Quia labore, dolorem eaque perspiciatis repellat natus.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum minus exercitationem laboriosam, laudantium obcaecati ut illum similique fugiat voluptates. Quisquam exercitationem nulla doloremque expedita corporis pariatur nemo dolores laboriosam alias.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi nobis fugit quia non sequi maxime, autem ad molestias repellendus nostrum voluptatum ipsa blanditiis veritatis nesciunt totam quibusdam? Neque, optio.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet similique ad eius libero ut? Quis at perspiciatis, assumenda nam hic officia quae exercitationem ullam, sapiente nemo soluta tenetur, ipsam laborum?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque quos veniam soluta at? Cumque, temporibus qui consequuntur saepe deserunt, repudiandae sint vel id ullam tempore hic perspiciatis voluptates illum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus amet nulla unde hic aliquam laborum deleniti maiores, quos harum sapiente eum animi eligendi fugit neque incidunt optio laboriosam rerum illo.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit recusandae tempore similique, cumque veniam neque saepe pariatur natus ut mollitia velit, error ratione vel libero sint autem. Veniam, nisi molestias?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quis nobis cupiditate voluptate illo, porro cumque autem sapiente quasi eaque obcaecati alias harum officia excepturi earum provident dolorem, ipsam beatae!
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button size="small" color="light" expand="full" (click)="onClickFeedback()">Give Feedback...</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-col>
</ion-row>
</ion-grid>

</ion-content>