.cardTitle{
  text-align: center;
  color: darkgreen;
  font-weight: bold;
}

.card{
  --background: #36363F;
  margin: 0;
  padding: 0;
}

.cardButtons{
  --background: #36363F !important;
  color: white;
  font-weight: bold;
}

.imgCol{
  padding: 0;
  text-align: center;
  align-items: center;
}

.subLabels{
  color: white;
  font-weight: bold;
}

ion-img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}

.flex{
  display: flex;
  flex-direction: column;
}

ion-slides {
  height: 100%;
}

ion-searchbar{
  border-bottom: 1px solid silver;
  --box-shadow: none !important;
}

ion-fab-button{
  border-radius: 50%;
  border: 1px solid white;
}