.cardTitle{
  text-align: center;
  color: darkgreen;
  font-weight: bold;
}

.myadscard{
  margin: 2%;
}

.cardButtons{
  --background: #36363F !important;
  color: white;
  font-weight: bold;
}

.imgCol{
  padding: 0;
  text-align: center;
  align-items: center;
}

.subLabels{
  color: white;
  font-weight: bold;
}

ion-img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex{
  display: flex;
  flex-direction: column;
}

ion-slides {
  height: 100%;
  ion-img{
    background-size: 100% 100%;
    background-origin: border-box;
  }
}

ion-searchbar{
  color: white;
  font-weight: bold;
  --background: transparent;
  background-color: transparent;
  --box-shadow: none !important;
}

ion-fab-button{
  border-radius: 50%;
  border: 1px solid white;
}