<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons class="btn-shape" slot="start" routerLink="/tabs/landing" routerDirection="back">
        <ion-icon name="chevron-back-outline" size="large" color="success"></ion-icon>
        <ion-label color="danger">BACK</ion-label>
    </ion-buttons>
    <ion-title color="light">MY ADs</ion-title>
  </ion-toolbar>

  <ion-toolbar class="search-color">
    <ion-item lines="none" color="none">
      <ion-searchbar [(ngModel)]="searchTerm" color="none" mode="md"></ion-searchbar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-color">

  <ion-refresher class="center" slot="fixed" pullMin="170" pullMax="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="lines"
      refreshingText="Please Wait...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="myadscard card-color" *ngFor="let data of data | filter:searchTerm; let i=index" >
    <ion-grid>
      <ion-row (click)="presentModal(i)">
        <ion-col class="imgCol" size="6">
          <ion-content>
            <ion-slides pager="true" [options]="slideOpts" *ngIf="viewEntered" zoom="true">
              <ion-slide *ngFor="let img of data.imageUrls['imagesList']">
                <ion-img style="background-image: url('{{img}}');" class="img"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-content>
        </ion-col>
        <ion-col size="6">
          <ion-row color="none">
            <ion-col class="flex" size="12">
              <ion-toolbar  style="--background: #36363f; color: beige;">
                <ion-label slot="start" >
                  <ion-icon color="success" slot="start" name="pin-sharp"></ion-icon>{{data.location}}
                </ion-label>
                <ion-icon size="large" slot="end" color="medium" name="create-sharp"></ion-icon>
              </ion-toolbar>
              <ion-label color="success">Cattle Name: {{data.animalName}}</ion-label>
              <ion-label color="warning">Price: {{data.quotedPrice}}</ion-label>
              <ion-label class="subLabels">Breed: {{data.breed}}</ion-label>
              <ion-label class="subLabels">Lactation: {{data.lactationNumber}}</ion-label>
              <ion-label class="subLabels">Milk/Day: {{data.milkPerDay}}</ion-label>
              <ion-label class="subLabels">Age: {{data.age}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-item lines="none" style="--background: #36363f; color: beige;">
        <ion-button color="danger" slot="start" expand="block" (click)="onDelete(i)">
          <ion-icon slot="end" name="trash-bin-sharp"></ion-icon>DISCARD
        </ion-button>
        <ion-button color="success" slot="end" expand="block" (click)="onPost(i)">
          <ion-icon slot="end" name="pencil-sharp"></ion-icon>POST THIS
        </ion-button>
      </ion-item>
    </ion-grid>
  </ion-card>

</ion-content>



<!-- <ion-content>
  <ion-card class="card"  *ngFor="let data of data; let i=index">
    <ion-grid>
      <ion-row (click)="presentModal(i)">
        <ion-col class="imgCol" size="4"  >
        
            <ion-slides pager="true" [options]="slideOpts"  *ngIf="viewEntered" zoom="true">
              <ion-slide *ngFor="let img of data.imgUrl" >
                <img style="background-image: url('{{img}}'); " class="img"/>
              </ion-slide>
            </ion-slides>
    
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col class="cardTitle">
              <ion-label color="success">ANIMAL: </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Breed: {{data.breed}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Locaction: {{data.location}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Lactation: {{data.lactationNumber}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Milk/Day: {{data.milkPerDay}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Age: {{data.age}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Calf: {{data.calf}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-item class="cardButtons" lines="none">
        <ion-button color="danger" slot="start" shape="round" (click)="onDelete(i)"><ion-label class="subLabels">DISCARD</ion-label></ion-button>
        <ion-button color="success" slot="end" shape="round" (click)="onPost(i)"><ion-label class="subLabels">POST THIS</ion-label></ion-button>
      </ion-item>
    </ion-grid>
  </ion-card>
</ion-content> -->


<!-- 
<ion-content [fullscreen]="true">
<div style="text-align: center; color: aliceblue;">
  <h3>Published Ads</h3>
</div>
  <ion-card class="card" *ngFor="let data of data; let i=index">
    <ion-grid>
      <ion-row (click)="presentModal(i)">
        <ion-col class="imgCol" size="4">
          <ion-content>
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let img of data.imgUrl">
                <ion-img style="background-image: url('{{img}}');" class="img"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-content>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col class="cardTitle">
              <ion-label color="success">ANIMAL: {{data.animal}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Breed: {{data.breed}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Locaction: {{data.location}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Status: {{data.status}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Milk/Day: {{data.milkPerDay}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Age: {{data.age}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Calf: {{data.calf}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-item class="cardButtons" lines="none">
        <ion-button color="danger" slot="start"  (click)="onDelete(i)">Delete</ion-button>
        <ion-button color="success" slot="end"   (click)="presentModal(i)">Analytics</ion-button>
      </ion-item>
    </ion-grid>
  </ion-card>
  <ion-item-divider style="color: #3CF185; height: 5px;"></ion-item-divider>
  <div style="text-align: center; color: aliceblue;">
    <h3>Unpublished Ads</h3>
  </div>
  <ion-card class="card" *ngFor="let data of data; let i=index">
    <ion-grid>
      <ion-row (click)="presentModal(i)">
        <ion-col class="imgCol" size="4">
          <ion-content>
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let img of data.imgUrl">
                <ion-img style="background-image: url('{{img}}');" class="img"></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-content>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col class="cardTitle">
              <ion-label color="success">ANIMAL: {{data.animal}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Breed: {{data.breed}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Locaction: {{data.location}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Status: {{data.status}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Milk/Day: {{data.milkPerDay}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label class="subLabels">Age: {{data.age}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="subLabels">Calf: {{data.calf}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-item class="cardButtons" lines="none">
        <ion-button color="danger" slot="start"  (click)="onDelete(i)">DISCARD</ion-button>
        <ion-button color="success" slot="end"   (click)="presentModal(i)">POST THIS</ion-button>
      </ion-item>
    </ion-grid>
  </ion-card>
</ion-content> -->