<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Login</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button" (click)="login()">Log in</ion-button>

      <div class="sign-up">
        Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Sign up</ion-button>
      </div>
    </div>
  </div>
</ion-content> -->


<!-- <div class="container">
<ion-card class="card-center">
  <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
<ion-item>
<ion-button  color="primary">Click Me</ion-button>
</ion-item>
</ion-card>
<button class="btn btn-success">
  Click Me
</button>

</div> -->

<!-- <div class="card" style="width: 80%;margin: 200px 30px 30px 150px;">
<div class="card-center" >
  <div>
    <h5  >Login</h5>
    <p >Resend Otp?</p>
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
    <ion-button  color="primary">Click Me</ion-button>
  </div>

</div>

</div> -->


<ion-content >
  <ion-card class="card-center">


    <ion-grid >
      <ion-col>
        <ion-row class="center">
        <ion-title>Login to Flixdrop App</ion-title>
      </ion-row>
      <ion-row class="center" *ngIf='!isNumberSubmitted'>
        <ion-item>
          <ion-input [(ngModel)]='name'  placeholder="Your Name"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="center" *ngIf='!isNumberSubmitted'>
        <ion-item>
          <ion-input [(ngModel)]='inputNumber'  placeholder="Your Mobile Number"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="center" *ngIf='!isNumberSubmitted'>
        <ion-button (click)=onNumberSubmitted() color="medium">
          Get OTP
              </ion-button>
      </ion-row>
<ion-row class="center"  *ngIf='isNumberSubmitted'>

  <ion-item style="color: rgb(201, 94, 6);" >
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}" ></ng-otp-input>
  </ion-item>
</ion-row>
<ion-row class="center"  *ngIf='isNumberSubmitted'>
  <ion-button (click)=onLogin() color="medium">
    Login
        </ion-button>
</ion-row>
      </ion-col>
    </ion-grid>


  </ion-card>
</ion-content>
