// // This will remove iOS Header Line
// ion-toolbar {
//     --border-width: 0 !important;
// }

// // Removing Android Header Line
// .header-md::after {
//     background: none !important;
// }

// .container h1 {
//     margin-top: 0;
// }

// .backbtn {
//     margin-left: 20px;
// }

// .form-container {
//     margin-top: 48px;
// }

// .form-container ion-item {
//     --padding-start: 0;
//     --border-color: #DADADA;
// }

// .form-container ion-item ion-label {
//     color: #A6A6A6;
// }

// .form-container ion-item ion-icon {
//     margin-top: auto;
//     color: #c6cbd4;
// }

// .form-container ion-button {
//     margin-top: 48px;
// }

// .sign-up {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .sign-up ion-button {
//     margin: 0;
// }

// .center{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: left;
//   }

// ng-opt-input{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-weight: bold;
//   font-size: 150%;
//   color: rgb(104, 91, 81);
// }


  ion-toolbar{
    --background: transparent;
  }
  
  ion-input{
    color: silver;
    --background: transparent;
    border-bottom: 1px solid silver;
  }

  ion-item{
    --background: transparent;
  }

  .loginCard{
    position: fixed;
    z-index: 3;
    height: 70%;
    margin: 0;
    padding: 0;
    margin: 10%;
    top: 10%;
    background-color: brown;
    --background: url('../../assets//theme.png') !important;

    // --background: #293c2ab4;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10%;
    box-shadow: 10px 5px 15px #13131a;
  }
  .loginButton{
// --background: rgb(28, 221, 255);
//border: 2px solid black;
 box-shadow: 10px 5px 15px   rgb(255, 255, 255);
  }
  .content
  {
    z-index: 1;
    --background: transparent !important;
    // --background: url('../../assets//theme.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .background_1
  {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #3d563c;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at 0 0);
    z-index: 2;
  }

  .background_2{
    margin: 0;
    padding: 0;
    position: fixed;
    --background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #3d563c9c;
    clip-path: circle(30% at 100% 100%);
    z-index: 2;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .col_4{
    margin: 0;
    padding: 0;
    margin-top: 15%;
  }

  .title-toolbar{
    display: flex;
    --background: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ion-grid{
    font-size: 150%;
    font-weight: bold;
    color: white;
  }