<ion-header class="header">
  <ion-toolbar class="navbar" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon size="large" name="menu" color="danger"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <img src="../../assets/welcome.png"/>
    </ion-thumbnail>
    <ion-label (click)="navigateTO('home')">{{doTranslation('HOME')}}</ion-label>
    <ion-label (click)="navigateTO('profile')">{{doTranslation('PROFILE')}}</ion-label>
    <ion-label (click)="navigateTO('my-cart')">{{doTranslation('MY CART')}}</ion-label>
    <ion-label (click)="navigateTO('favorite')">{{doTranslation('FAVORITE')}}</ion-label>
    <ion-label (click)="navigateTO('my-orders')">{{doTranslation('ORDERS')}}</ion-label>

    <ion-icon size="large" slot="end" name="notifications" color="danger"></ion-icon>
    <ion-icon size="large" slot="end" color="danger" name="log-out"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="buy">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Buy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sell">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Sell</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nutrition">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Medicine</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="feed">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="insemination">
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Insemination</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<ion-tabs class="none">
    <ion-tab-bar class="content-color" slot="bottom">
    <ion-tab-button tab="landing">
      <ion-icon size="large" name="home" color="danger"></ion-icon>
      <ion-label color="danger">{{doTranslation('HOME')}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myads">
      <ion-icon size="large" name="newspaper" color="success"></ion-icon>
      <ion-label color="success">{{doTranslation('MY ADs')}}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="blog-feedback">
      <ion-fab vertical="center" horizontal="center" edge="true" translucent="true">
        <ion-fab-button color="medium" class="background">  <!-- (click)=popSellerForm() -->
          <ion-icon size="large" name="book"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-tab-button>
    
    <!-- <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="#1f1f1f" fill-rule="evenodd"></path></svg> -->
    
    <ion-tab-button tab="medicines">
      <ion-icon size="large" name="medkit" color="success"></ion-icon>
      <ion-label color="success">{{doTranslation('VET PHARMA')}}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon size="large" color="light" name="person-circle"></ion-icon>
      <ion-label color="light">{{doTranslation('PROFILE')}}</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>

<ion-footer class="footer">
  <ion-toolbar class="custom-toolbar card-color">
    <ion-text color="danger">MRGAMI Technologies PVT. LTD. 2014-2021 &#169;</ion-text>
  </ion-toolbar>
</ion-footer>