// ion-button{
//     --background:#0fd15d;
// }

// ion-content{
//     --background:var(--background)
// }

// ion-item{
//     --background:var(--background)
// }
  
  .list{
    margin: 3%;
  }
  
  ion-avatar{
    border: 3px solid white;
  }
  
  a{
    text-decoration: underline;
  }

  .del-icon{
    z-index: 2;
  }
  
  .pager{
    border-bottom: 1px solid silver;
  }
  
  .form-heading{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  *{
    color: white;
  }