.person-1{
    margin: 2% 0;
    padding: 0% 2%;
    background-color: rgb(255,255,255, 0.98);
    border-radius: 0px 10px 10px 10px;
    box-shadow: 1px 2px rgb(25,25,25);
}

.person-2{
    margin: 2% 0;
    padding: 0% 2%;
    background-color: lightskyblue;
    border-radius: 10px 0px 10px 10px;
    box-shadow: -2px 1px rgb(25,25,25);
}

textarea{
    resize: none;
    width: 100%;
}