.person-1{
    margin: 1%;
    padding: 2%;
    background-color: skyblue;
    border-radius: 5px;
    border: 2px solid black;
}

.person-2{
    margin: 1%;
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

textarea{
    resize: none;
    width: 100%;
}