ion-toolbar{
    --background: transparent;
}

ion-text{
    color: white;
}

.title-toolbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ion-img{
    height: 25%;
    width: 100%;
}

ion-content{
    margin: 0;
    padding: 0;

    ion-card{
        margin: 0;
        padding: 0;
        padding: 0 2%;
    }
}