<ion-app class="app">
  <ion-split-pane contentId="main-content" when="sm md lg xl">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!isMenuEnabled">
      <ion-header>
        <ion-toolbar color="danger">
          <ion-buttons (click)="close()" class="btn-shape" slot="start">
              <ion-icon name="chevron-back-outline" size="large" color="success"></ion-icon>
              <ion-label color="danger">BACK</ion-label>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="content">
          <ion-list class="main-list">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="full" (click)="navigate('/tabs/home', 1)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 1">
                <ion-icon color="medium" name="home"></ion-icon>
                <ion-text color="medium">{{doTranslation('HOME')}}</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="full" (click)="navigate('/tabs/profile', 2)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 2">
                <ion-icon color="medium" name="person-sharp"></ion-icon>
                <ion-text color="medium">{{doTranslation('PROFILE')}}</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="full" (click)="navigate('/tabs/my-cart', 3)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 3">
                <ion-icon size="large" color="medium" name="cart-sharp"></ion-icon>
                <ion-text color="medium">{{doTranslation('MY CART')}}</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="full" (click)="navigate('/tabs/favorite', 4)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 4">
                <ion-icon color="medium" name="star"></ion-icon>
                <ion-text color="medium">{{doTranslation('FAVORITES')}}</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/my-orders', 5)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 5">
                <ion-icon color="medium" name="card"></ion-icon>
                <ion-text color="medium">{{doTranslation('ORDERS')}}</ion-text>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

