.app{
  --background: #36363F;
  background-color: #1F1F29;
  // background-image: url('../assets/bg_1.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
}

.main-list {
  padding: 5%;
  ion-text{
    padding: 0% 5%;
    font-weight: bold;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-list {
    width: 100%;
    .selected {
      border-left: 5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }
  }
  ion-item{
    padding: 5%;
    width: inherit;
  }
  ion-menu-toggle{
    width: 100%;
  }
}

.content{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-menu{
  opacity: 95%;
  --width: 50% !important;
  --ion-background-color: #36363F;
  ion-item{
    --background: transparent;
  }
  ion-list {
    background: transparent;
  }
}

@media (min-width: 400px){
  ion-menu{
    --width: 50% !important;
  }
}

@media (min-width: 600px){
  ion-menu{
    --width: 40% !important;
  }
}

@media (min-width: 800px){
  ion-menu{
    --width: 30% !important;
  }
}

.footer{
  display: none;
}

@media (min-width: 700px){
  .footer{
    display: block;
  }
}