<ion-app class="app">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="!isMenuEnabled">
      
      <ion-content>
        <!-- Close Button -->
        <ion-item lines="none" color="none">
          <ion-icon slot="start" size="large" color="medium" name="arrow-back-outline" (click)="close()"></ion-icon>
        </ion-item>

        <ion-list class="main-list">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/home', 1)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 1">
                <ion-text color="danger">Home</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/profile', 2)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 2">
                <ion-text color="danger">Profile</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/my-cart', 3)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 3">
                <ion-text color="danger">My Cart</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/favorite', 4)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 4">
                <ion-text color="danger">Favorites</ion-text>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" (click)="navigate('/tabs/my-orders', 5)" detail="false" class="ion-text-center"
                [class.selected]="selectedIndex == 5">
                <ion-text color="danger">Orders</ion-text>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>