
<div class="background"></div>

<ion-content class="ion-padding">
   
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12">
        <ion-img src="../../assets/welcome.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>   

  <ion-toolbar color="none">
      <ion-button size="large" expand="block" routerLink="login" color="medium" routerDirection="forward">LOG IN<ion-icon size="large" slot="end" name="log-in-outline"></ion-icon></ion-button>
      <ion-button size="large" expand="block" color="medium" routerLink="signup" routerDirection="forward">SIGN UP<ion-icon size="large" slot="end" name="create-outline"></ion-icon></ion-button>
    </ion-toolbar>
</ion-content>
