<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Signup</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button">Sign Up</ion-button>

      <div class="sign-up">
        Already have an account? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Sign in</ion-button>
      </div>
    </div>
  </div>
</ion-content> -->
<!-- <mat-card-header>
  <mat-icon mat-card-avatar>lock</mat-icon>
  <mat-card-title>Please Sign Up</mat-card-title>
  <mat-card-subtitle>We'd be happy to have you join our community!</mat-card-subtitle>
</mat-card-header> -->

<!-- <mat-card-content>
      <form fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Full Name" [formControl]="fullName" name="name" autocomplete="name" required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number (e.g. +12065551211)" [formControl]="sms" type="sms" sms name="sms"
            autocomplete="username sms" required/>
        </mat-form-field>
      </form>
    </mat-card-content> -->

<!-- <mat-card-actions>
      <div fxFlex></div>
      <button mat-stroked-button color="primary" (click)="signup()">
        <div fxFlex></div>
        <div *ngIf="(busy | async) !==true">SIGN UP</div>
        <mat-spinner *ngIf="busy | async" [diameter]="35"></mat-spinner>
        <div fxFlex></div>
      </button>
      <div fxFlex></div>
    </mat-card-actions> -->

<ion-content class="content-color ion-padding">
  <ion-card class="card-color custom-card">
    <ion-toolbar class="center" color="none">
      <ion-text color="warning">{{doTranslation('Please Sign Up')}}</ion-text>
    </ion-toolbar>
    <ion-toolbar class="center" color="none">
      <ion-text>{{doTranslation("We'd be happy to have you join our community!")}}</ion-text>
    </ion-toolbar>
    <ion-toolbar class="center" color="none">
      <ion-text color="primary">{{doTranslation('You are almost there!')}}</ion-text>
    </ion-toolbar>

    <form [formGroup]="signup_form">
      <ion-toolbar color="none">
        <ion-item lines="none" color="none">
          <ion-label position="floating" color="danger">{{doTranslation('Full Name')}}</ion-label>
          <ion-input placeholder="enter your name." formControlName="fullname" required></ion-input>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar color="none">
        <ion-item lines="none" color="none">
          <ion-label position="floating" color="danger">{{doTranslation('Phone Number')}}</ion-label>
          <ion-input formControlName="sms" [value]="phno"></ion-input>
        </ion-item>
        </ion-toolbar>
    </form>
    <ion-button *ngIf="(busy | async) !==true" expand="block" size="small" color="success" (click)="signup()">
      {{doTranslation('SIGN UP')}}<ion-spinner *ngIf="busy | async" name="bubbles"></ion-spinner>
    </ion-button>
    <ion-button size="small" color="primary" expand="block" (click)="dismiss()">{{doTranslation('Continue without login')}}</ion-button>

    <ion-toolbar color="none">
      <ion-text *ngIf="errorMessage | async">{{ errorMessage | async }}</ion-text>
    </ion-toolbar>
    <ion-toolbar color="none">
      <ion-text>
        {{doTranslation('Already signed up?')}}<a routerLink='/login' routerLinkActive="active success">{{doTranslation('Sign in')}}</a>
      </ion-text>
    </ion-toolbar>

  </ion-card>
</ion-content>
