// // This will remove iOS Header Line
// ion-toolbar {
//     --border-width: 0 !important;
// }

// // Removing Android Header Line
// .header-md::after {
//     background: none !important;
// }

// .container h1 {
//     margin-top: 0;
// }

// .backbtn {
//     margin-left: 20px;
// }

// .form-container {
//     margin-top: 48px;
// }

// .form-container ion-item {
//     --padding-start: 0;
//     --border-color: #40454d;
// }

// .form-container ion-item ion-label {
//     color: #A6A6A6;
// }

// .form-container ion-item ion-icon {
//     margin-top: auto;
//     color: #40454d;
// }

// .form-container ion-button {
//     margin-top: 48px;
// }

// .sign-up {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .sign-up ion-button {
//     margin: 0;
// }
// ion-input{
//     color: #dddcdc;
// }
// ion-card{
//     --background:#36363F;
// }

// .content{
//     --background: transparent;
// }

.custom-card{
    height: inherit;
    top: 15%;
}

ion-content{
    --background: transparent !important;
}

ion-input{
    color: white;
}