<ion-header>
  <ion-toolbar color="danger">
    <ion-title>User Profile</ion-title>
      <ion-button slot="start" color="danger" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="none">
    <ion-label slot="start" class="title" color="medium">User Profile</ion-label>
    <ion-button color="medium" fill="clear" slot="end">
      Edit Profile
      <ion-icon size="large" name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="Flixdrop User"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address Lane</ion-label>
      <ion-input value="Bengaluru"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input value="Bengaluru"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="flix@flixdrop.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="+91 1236547892"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="full" size="small" color="danger" (click)="onClickLogout()">
    <ion-icon slot="end" name="power-outline" color="light"></ion-icon>
    <ion-label color="light">Logout</ion-label>
  </ion-button>

</ion-content>
