<ion-header>
  <ion-toolbar color="danger">
    <ion-title>User Profile</ion-title>
      <ion-button slot="start" color="danger" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-item lines="full" color="none">
      <ion-label class="title">User Profile</ion-label>
      <ion-button fill="clear" slot="end">
        edit 
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

  <ion-card class="profileCard">
    <ion-toolbar>
      <ion-item>
        <ion-label position="floating" color="danger">Name</ion-label>
        <ion-input value="Flixdrop User"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="danger">Address Lane</ion-label>
        <ion-input value="Bengaluru"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="danger">City</ion-label>
        <ion-input value="Bengaluru"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Email</ion-label>
      <ion-input value="flix@flixdrop.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Phone Number</ion-label>
      <ion-input value="+91 1236547892"></ion-input>
    </ion-item>
  </ion-toolbar>
  </ion-card>

  <ion-button expand="full" size="small" color="danger" (click)="onClickLogout()">
    <ion-icon slot="end" name="power-outline" color="light"></ion-icon>
    <ion-label color="light">Logout</ion-label>
  </ion-button>

</ion-content>
