<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons style="
    clip-path: ellipse(100% 54% at 0% 50%); background-color: #36363f;
    background-color: #36363f;width:80px; height: 40px; border-radius: 5%; " slot="start">
      <ion-buttons routerLink="/tabs/landing" routerDirection="back">
        <ion-icon name="chevron-back-outline" style="color: #3CF185; width: 30px; height: 200px;"></ion-icon>
      </ion-buttons>
      <span style="color: azure;">BACK</span>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-color">
  <ion-toolbar class="card-color">
    <!-- <ion-item lines="full" color="none"> -->
      <ion-label class="center">User Profile</ion-label>
      <ion-button fill="clear" slot="end">
        edit 
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    <!-- </ion-item> -->
  </ion-toolbar>

  <ion-card class="card-color">

    <form [formGroup]="userDetailsForm" >
      <div *ngFor="let detail of (userDetails | async)">
            <ion-input matInput readonly placeholder="{{ detail.Name }}" [formControlName]="detail.Name"></ion-input>
      </div>
          <ion-spinner *ngIf="busy | async" name="bubbles"></ion-spinner>
  </form>

    <!-- <ion-toolbar>

      <ion-item>
        <ion-label position="floating" color="danger">Name</ion-label>
        <ion-input value="Flixdrop User"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="danger">Address Lane</ion-label>
        <ion-input value="Bengaluru"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="danger">City</ion-label>
        <ion-input value="Bengaluru"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Email</ion-label>
      <ion-input value="flix@flixdrop.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="danger">Phone Number</ion-label>
      <ion-input value="+91 1236547892"></ion-input>
    </ion-item>
  </ion-toolbar> -->
  </ion-card>

  <ion-button expand="block" size="small" color="danger" (click)="onClickLogout()">
    <ion-icon slot="end" name="power-outline"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-button>

</ion-content>
