<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons class="btn-shape" slot="start" routerLink="/tabs/landing" routerDirection="back">
        <ion-icon name="chevron-back-outline" size="large" color="success"></ion-icon>
        <ion-label color="danger">{{doTranslation('BACK')}}</ion-label>
    </ion-buttons>
    <ion-title color="light">{{doTranslation('MEDICINES')}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="search-color">
    <ion-item lines="none" color="none">
      <ion-searchbar placeholder="{{doTranslation('Search medicines')}}" [(ngModel)]="searchTerm" mode="md"></ion-searchbar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="content-color">
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
    <ion-fab-button color="success" (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher class="center" slot="fixed" pullMin="120" pullMax="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="lines"
      refreshingText="{{doTranslation('Please Wait...')}}">
    </ion-refresher-content>
  </ion-refresher>


  <ion-toolbar class="center" color="dark">
    <ion-label class="contact-title" color="danger">ORDER THROUGH</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="contact-logo" color="danger">
          <ion-icon name="call-outline"></ion-icon>
          CALL
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="contact-logo" color="danger">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <a href="https://api.whatsapp.com/send?phone=+919860067118">MESSAGE</a>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col class="vertical-center" size="12" offset="sm-0 md-0 lg-2 xl-3">

        <ion-card class="card-color custom-card" *ngFor="let p of products | filter:searchTerm; let i=index">
          <ion-grid>
            <ion-row>
              <ion-col (click)="medModal(p)" class="vertical-center" size="6">
                <ion-thumbnail>
                  <ion-img src="{{p.image}}"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col class="horizontal-padding" size="6">
                <div class="center"> 
                  <ion-label color="primary">{{p.name}}</ion-label>
                </div>
                <ion-text color="light">REFIT ANIMAL CARE – 10 Kg Chelated Mineral Mixture for
                  <!-- Buffalo,Cow,Cattle,Poultry,
                  Goat & Pig (RIGMIN Forte Powder) -->
                </ion-text>
                <ion-toolbar color="none">
                  <ion-text slot="start" color="success">{{ p.price | currency:'INR' }}</ion-text>
                  <ion-button slot="end" color="danger" expand="block" size="small" (click)="addToCart(p)">
                    {{doTranslation('Add to cart')}}
                  </ion-button>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<!-- <ion-footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="ion-no-border">
        <ion-tab-button tab="landing">
          <ion-icon name="cart" ></ion-icon>
          <img style="height: 30px; width: 30px;" src="../../assets/icon/home.png" />
          <ion-label style="color: #EC5B5B;">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="landing" style="margin-left: -50px;">
          <ion-icon name="cafe"></ion-icon>
          <img style="height: 30px; width: 30px; " src="../../assets/icon/ad.png" />
          <ion-label style="color: #06D25A;">My Ads</ion-label>
          <ion-badge *ngIf="new_message">{{new_message}}</ion-badge>
        </ion-tab-button>

        <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="#1f1f1f" fill-rule="evenodd"></path></svg>

        <ion-tab-button tab="medicines" style=" margin-right: -60px;">
          <ion-icon name="bandage"></ion-icon>
          <img style="height: 30px; width: 30px;" src="../../assets/icon/old-purchase.png" />
          <ion-label style="color: #06D25A;">Purchase</ion-label>
          <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-footer> -->