// ion-menu-button {
//     margin-left: 10px;
// }

// .filter {
//     margin-right: 10px;
// }

// .search {
//     margin-bottom: 20px;

//     ion-item {
//         border-radius: 10px;
//         box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
//         padding: 8px;

//         ion-icon {
//             margin-right: 16px;
//         }

//         ion-input {
//             padding-left: 10px !important;
//             border-left: 1px solid #F4F4F4;
//         }
//     }
// }

// .title {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 32px;
//     color: aliceblue;

//     h2 {
//         margin: 0 0 0 16px;
//         color: #ffffff;
//     }

//     p {
//         margin: 0 16px 0 0;
//         color: #ffffff;
//     }
// }

// .category-slider {
//     ion-slide {
//         width: 150px;
//         height: 100px;
//         margin-right: 10px;
//         margin-left: 20px;
//         margin-bottom: 30px;

//         ion-col {
//             height: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             h4 {
//                 color: #ffffff;
//                 margin: 0;
//             }

//             img {
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//                 border-radius: 8px;
//                 top: 0;
//                 left: 0;
//                 z-index: -1;
//                 box-shadow: 0px 15px 20px 0px rgba(145, 143, 143, 0.16);
//             }
//         }
//     }
// }
// .med-price{
//     padding-left: 10px;
//     font-size: large;
// }
// .med-img{
//     width: 80%;
//     height: 180px;
//     object-fit: cover;
//     border-radius: 20px;
//     padding: 10px;
// }
// .font-bold {
//     font-weight: bold;
// }

// .product-slider {
//     margin-bottom: 30px;

//     ion-slide {
//         width: 150px;
//         height: auto;
//         margin-left: 20px;
//         margin-right: 10px;

//         ion-col {
//             img {
//                 width: 100%;
//                 height: 180px;
//                 object-fit: cover;
//                 border-radius: 8px;
//             }

//             p {
//                 margin-top: 5px;
//                 margin-bottom: 0;
//             }

//             h6 {
//                 margin-top: 5px;
//                 margin-bottom: 0;
//             }
//         }
//     }
// }

// // Removing highlight when focused/clicked on product
// ion-slide:focus {
//     outline: none !important;
// }

// ion-col:focus {
//     outline: none !important;
// }
	
// ion-fab-button {
//   height: 70px;
//   width: 70px;
  
// }
 
// .cart-icon {
//   font-size: 50px;
// }
 
// .cart-length {
//   color: #0fd15d;
//   position: absolute;
//   top: 18px;
//   left: 25px;
//   font-weight: 600;
//   font-size: 1em;
//   min-width: 25px;
//   z-index: 10;
// }

ion-searchbar{
  color: white;
  font-weight: bold;
  --background: transparent;
  background-color: transparent;
  --box-shadow: none !important;
  }

  ion-thumbnail{
    width: 100%;
    height: 100%;
  }

  .custom-card{
    margin: 1% 0%;
  }

  .bottom{
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .no-padding{
    margin: 0;
    padding: 0;
  }

  .horizontal-margin{
    margin: 0% 4%;
  }

  @media (min-width: 500px) {
    ion-card{
        width: 75%;
    }      
  }

  @media (min-width: 700px) {
    ion-card{
        width: 50%;
    }      
  }