<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons style="
    clip-path: ellipse(100% 54% at 0% 50%); background-color: #36363f;
    background-color: #36363f;width:80px; height: 40px; border-radius: 5%; " slot="start">
      <ion-buttons routerLink="/tabs/home" routerDirection="back">
        <ion-icon name="chevron-back-outline" style="color: #3CF185; width: 30px; height: 200px;"></ion-icon>
      </ion-buttons>
      <span style="color: azure;">BACK</span>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-color">
  <ion-toolbar class="center" color="none">
    <ion-text color="danger">CART ITEMS</ion-text>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">

        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/cart/cart1.png" /></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Cows</ion-text>
                <ion-text>Bengaluru</ion-text>
                <ion-text>Rs 40000</ion-text>
                <ion-toolbar color="none">
                  <ion-item slot="end" lines="none" color="none">
                    <ion-icon (click)="onDecrease()" color="medium" name="remove-circle" expand="block"></ion-icon>
                    <ion-label>{{num}}</ion-label>
                    <ion-icon (click)="onIncrease()" color="medium" name="add-circle" expand="block"></ion-icon>
                  </ion-item>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">

        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/cart/cart2.png" /></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Ox</ion-text>
                <ion-text>Bengaluru</ion-text>
                <ion-text>Rs 60000</ion-text>
                <ion-toolbar color="none">
                  <ion-item slot="end" lines="none" color="none">
                    <ion-icon (click)="onDecrease()" color="medium" name="remove-circle" expand="block"></ion-icon>
                    <ion-label>{{num}}</ion-label>
                    <ion-icon (click)="onIncrease()" color="medium" name="add-circle" expand="block"></ion-icon>
                  </ion-item>
                </ion-toolbar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-button size="small" expand="block" routerLink="/checkout" color="primary" routerDirection="forward">
          Continue
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart3.png" />
        </div>

        <div class="item-info">
          <p>Shirt</p>
          <p>Next</p>
          <p>$54.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart4.png" />
        </div>

        <div class="item-info">
          <p>Women shirt</p>
          <p>Plus Point</p>
          <p>$34.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart5.png" />
        </div>

        <div class="item-info">
          <p>Shirt</p>
          <p>Cat's Eye</p>
          <p>$44.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card> -->
  <!-- </div> -->
</ion-content>