<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons class="btn-shape" slot="start" routerLink="/tabs/landing" routerDirection="back">
        <ion-icon name="chevron-back-outline" size="large" color="success"></ion-icon>
        <ion-label color="danger">{{doTranslation('BACK')}}</ion-label>
    </ion-buttons>
    <ion-title color="light">{{doTranslation('FAVORITES')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-color">

  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/products/prod-1.png"/></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Rs 40000</ion-text>
                <ion-text>Cow</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/products/prod-2.png"/></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Rs 40000</ion-text>
                <ion-text>Cow</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/products/prod-3.png"/></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Rs 40000</ion-text>
                <ion-text>Cow</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/products/prod-4.png"/></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Rs 40000</ion-text>
                <ion-text>Cow</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="center" size="12" offset="sm-0 md-0 lg-2 xl-3">
        <ion-card class="web-view card-color">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-thumbnail><img src="../../assets/products/prod-5.png"/></ion-thumbnail>
              </ion-col>
              <ion-col class="left-align" size="6">
                <ion-text>Rs 40000</ion-text>
                <ion-text>Cow</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>