<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="none">
    <ion-searchbar slot="start" [(ngModel)]="searchTerm" placeholder="Search Cattles" mode="md" color="dark">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-toolbar color="none">
    <ion-searchbar slot="start" placeholder="Search Cattles" mode="md" color="dark"></ion-searchbar>
    <ion-icon size="large" slot="end" name="notifications" color="danger"></ion-icon>
  </ion-toolbar> -->
  <ion-refresher class="center" slot="fixed" pullMin="120" pullMax="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="lines"
      refreshingText="Please Wait...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="title ion-padding">
    <h2>Breed</h2>
    <p>See all</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories| filter:searchTerm">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Featured</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of featuredProducts| filter:searchTerm">
        <ion-col class="ion-text-left" routerLink="/tabs/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p style="color: aliceblue;">Rs {{ product.price }}</p>
          <h6 style="color: aliceblue;">{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Best Sell</h2>
    <p>See all</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of bestSellProducts| filter:searchTerm">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p style="color: aliceblue;">Rs {{ product.price }}</p>
          <h6 style="color: aliceblue;">{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>