<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button> -->
      <!-- <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title> Buy Animal</ion-title>
  </ion-toolbar>
  <ion-toolbar color="none">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search Cattles" mode="md">
    </ion-searchbar>
    <ion-item lines="none" color="none" slot="end">
      <ion-icon name="funnel-outline" color="dark"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher class="center" slot="fixed" pullMin="120" pullMax="50" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="lines"
      refreshingText="Please Wait...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-toolbar color="none">
    <ion-item lines="full" color="none">
      <ion-label slot="start" color="warning">Type of Cattles</ion-label>
      <a slot="end" color="medium">See all</a>
    </ion-item>
  </ion-toolbar>

  <ion-card color="none">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="slideOpts">
            <ion-slide class="center" *ngFor="let category of getApiData| filter:searchTerm; let i=index">
              <ion-thumbnail>
                <ion-img src="{{category.imageUrls['imagesList'][0]}}"></ion-img>
              </ion-thumbnail>
              <ion-label>{{category.type}}</ion-label>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-toolbar color="none">
    <ion-item lines="full" color="none">
      <ion-label slot="start" color="warning">Featured</ion-label>
      <a slot="end" color="medium">See all</a>
    </ion-item>
  </ion-toolbar>

  <ion-card color="none">
    <ion-grid>
      <ion-row>
        <ion-col size="12" routerLink="/tabs/item-details" routerDirection="forward">
          <ion-slides [options]="slideOpts">
            <ion-slide class="center" *ngFor="let product of getApiData| filter:searchTerm">
              <ion-thumbnail>
                <ion-img src="{{ product.imageUrls['imagesList'][0] }}"></ion-img>
              </ion-thumbnail>
              <ion-label style="color: aliceblue;">Rs {{ product.quotedPrice }}</ion-label>
              <ion-label style="color: aliceblue;">{{ product.type }}</ion-label>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-toolbar color="none">
    <ion-item lines="full" color="none">
      <ion-label slot="start" color="warning">Best Sell</ion-label>
      <a slot="end" color="medium">See all</a>
    </ion-item>
  </ion-toolbar>

  <ion-card color="none">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="slideOpts">
            <ion-slide class="center" *ngFor="let product of getApiData| filter:searchTerm">
              <ion-thumbnail>
                <ion-img src="{{ product.imageUrls['imagesList'][0] }}"></ion-img>
              </ion-thumbnail>
              <ion-label>Rs {{ product.quotedPrice }}</ion-label>
              <ion-label>{{ product.type }}</ion-label>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="right" translucent="true">
  <ion-fab-button (click)="onClickFab()" color="medium">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-label color="medium">New AD</ion-label>
</ion-fab>